.test:after {
  content: " ";
  position: absolute;
  background-color: #7b1010;
  opacity: 0;
  top: 0px;
  width: 400px;
  height: 522.5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.test:hover:after {
  opacity: 1;
  top: 0px;
}

.test::before {
  background: rgb(2, 2, 79);
  background: linear-gradient(
    -10deg,
    rgba(2, 2, 79, 0.986) 0%,
    rgba(9, 9, 121, 0.266) 35%
  );
}
